.container_principal {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.titulo{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}
.botao_cadastro{
    background-color: antiquewhite;
    border: none;
    border-radius: 10px;
    max-height: 30px;
    cursor: pointer;
}
.conteudo_lista{
    display: flex;
    align-items: center;
    gap: 20px;
}
.conteudo_cadastrar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.conteudo_cadastro {
    display: none; /* Inicialmente escondido */
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 20px;
}
.conteudo_lista ol {
    list-style: none;
    padding: 0;
    width: 100%;
}
.conteudo_lista li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}